body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  animation: changeColor 5s infinite;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./music/background.jpg');
  background-size: cover;
  opacity: 0.6;
  z-index: -1; 
}

#music-player {
  width: 400px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px white;
  position: relative; 
  background-color:black;
  z-index: 1;
  opacity: 0.7;
  

}

audio {
  width: 100%;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease;
 
}

button:hover {
  background-color: #2980b9;
}

#play-pause-icon::before {
  content: '\f04b'; 
}

#stop-icon::before {
  content: '\f04d';
}

#next-icon::before {
  content: '\f051'; 
}
img#album-cover {
  width: 350px; 
  height: 350px; 
  border-radius: 50%; 
  margin-bottom: 20px;
  transform-origin: center center;
  transform: rotate(45deg); 
}

@keyframes changeColor {
  0% { background-color: rgba(71, 252, 255, 0.5); } /* Starting color */
  50% { background-color: rgba(30, 144, 255, 0.5); } /* Midway color */
  100% { background-color: rgba(243, 204, 197, 0.5); } /* Ending color */
}
